In [1]:
a = 5
print("Type of a: ", type(a)) 

b = 5.0
print("\nType of b: ", type(b)) 

c = 'abc'
print("\nType of c: ", type(c)) 

d = False
print("\nType of d: ", type(d)) 

e = None
print("\nType of e: ", type(e))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'str'>

Type of d:  <class 'bool'>

Type of e:  <class 'NoneType'>

In [3]:
String1 = 'Basics of Python'
print("String with the use of Single Quotes: ",String1)

String with the use of Single Quotes:  Basics of Python

In [4]:
String2 = f"Today's lecture: {String1}"
String2

"Today's lecture: Basics of Python"

In [5]:
for i in range(5):
    print(i)



print("Printing numbers from 0 to 4 with space separator:")
for i in range(5):
    print(i, end=" ")




print("\nPrinting numbers from 0 to 4 without any separator:")
for i in range(5):
    print(i, end="")

0
1
2
3
4
Printing numbers from 0 to 4 with space separator:
0 1 2 3 4
Printing numbers from 0 to 4 without any separator:
01234

In [6]:
a=6
print(type(a))

<class 'int'>

In [7]:
age = 18
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

In [8]:
score = 85
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("D")

B

In [10]:
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [12]:
for i in range(3):              
    for j in range(2):        
        print(f"({i}, {j})")

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)

In [13]:
for i in range(0, 11, 2):
    print(i, end=" ")

0 2 4 6 8 10

### 1. Write a Python program to calculate the sum of all numbers from 1 to 100.

In [14]:

sum_of_numbers = 0

# Use a loop to iterate from 1 to 100 and add each number to the sum
for i in range(1, 101):
    sum_of_numbers += i

# Print the result
print("The sum of all numbers from 1 to 100 is:", sum_of_numbers)

The sum of all numbers from 1 to 100 is: 5050

 matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

### 2. Your program should calculate the sum of all elements in the matrix:
### i.e. 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 = 45

In [15]:

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
sum_of_elements = 0

for row in matrix:
    for element in row:
        sum_of_elements += element

# Print the result
print("The sum of all elements in the matrix is:", sum_of_elements)

The sum of all elements in the matrix is: 45

### 3. Write a Python program to print the following pattern:

In [16]:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

SyntaxError: invalid syntax (1110923693.py, line 2)

In [17]:
num_rows = 5
for i in range(1, num_rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ") 
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Functions in python

In [18]:
def greet():
    print("Hello, World!")

greet()

Hello, World!

In [19]:
def add(a, b):
    return a + b

result = add(3, 5)
print("Result of addition:", result)

Result of addition: 8

In [21]:
def arithmetic_operations(a, b):
    """Function to perform arithmetic operations on two numbers."""
    return a + b, a - b, a * b, a / b

addition, subtraction, multiplication, division = arithmetic_operations(10,20)

print("Addition:", addition)          
print("Subtraction:", subtraction)    
print("Multiplication:", multiplication)  
print("Division:", division)

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5

## Data Structures in Python

#### List

In [22]:
my_list = [1, 2, 3, 4, 5]
names = ["Alice", "Bob", "Charlie"]
mixed_list = [1, "apple", True, [2, 3, 4]]
empty_list = []

In [23]:
my_list = [10, 20, 30, 40, 50]

print(my_list[0]) 
print(my_list[2]) 


my_list[1] = 25
print(my_list)  


my_list.append(60)
print(my_list)

10
30
[10, 25, 30, 40, 50]
[10, 25, 30, 40, 50, 60]

In [24]:
my_list = [1,2,3,5,7]
my_list.insert(2,3)
print(my_list)

[1, 2, 3, 3, 5, 7]

In [29]:
my_list = [1, 2, 3, 5, 7]
my_list.extend([2,3])
print(my_list)

[1, 2, 3, 5, 7, 2, 3]

In [30]:
my_list = [1, 2, 3, 5, 7]
my_list.remove(2)
print(my_list)

[1, 3, 5, 7]

In [31]:
my_list = [5, 3, 10,17, 1]
my_list.sort()
print(my_list)

[1, 3, 5, 10, 17]

### Dictionary

In [32]:
student = {"name": "Vandana", "age": 24}
print(student)

{'name': 'Vandana', 'age': 24}

In [33]:
print(student["name"]) 
print(student["age"])

Vandana
24

In [34]:
student["city"] = "Pune"
print(student)

{'name': 'Vandana', 'age': 24, 'city': 'Pune'}

In [35]:
print(student.keys())   
print(student.values()) 
print(student.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Vandana', 24, 'Pune'])
dict_items([('name', 'Vandana'), ('age', 24), ('city', 'Pune')])

In [36]:
for key, value in student.items():
    print(key, ":", value)
    print(f"The key is {key} and value is {value}")

name : Vandana
The key is name and value is Vandana
age : 24
The key is age and value is 24
city : Pune
The key is city and value is Pune